/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* CSS RESET ENDS */

/* Custom CSS */



div {
  border: 1px solid #000;
  height: 10px;
}

.mobile-container {
height: 100vh;
border-color: 5px solid red;
}

.mobile-nav {
  background-color: grey;
  height: 50px;
  box-sizing: border-box;
}

.burger-menu,
.logo,
.search {
  height: 100%;
  display: inline-block;
  width: 20.1%;
}

.logo {
width: 57.5%;
}

.search {
width: 20.7%;
}

.daily-section {
  background-color: #f5f5f5;
  height: 120px;
  height: 30vh;
}

.current-city {
  font-size: 20px;
  font-family: 'open-sans', sans-serif;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom:  13px;
  padding-left: 115px;

}

.weather-image,
.weather-info {
height: 75%;
float: left;
width: 49.4%;
border: none;
}

.weather-image {
  width: 45%;
  float: left;
  margin-left: 10px;
}

/* Sun Icon */
.wi-day-sunny {
  color: #444444;
  margin-top: 42px;
  margin-left: 28px;
  font-size: 100px;
}

.weather-info {
  width: 45%;
  float: right;
  margin-right: 10px;
}

/*  Max Temp and Rain Icon */
.wi-thermometer,
.wi-rain {
  float: right;
  margin-top: 25px;
  font-size: 17px;
}

  /* Max Temp Icon */
  .wi-thermometer {
    padding-right: 10px;
  }

    /* Rain Icon */
    .wi-rain {
      padding-right: 10px;
    }

.max-daily-temp {
  padding-left: 10px;
}

.rain-mm {
  padding-left: 10px;
}
/*  Max Temp and Rain Icon Ends */

/* Min Temp and Wind Icons */

.wi-thermometer-exterior {
padding-top: 20px;
padding-left: 20px;
}

.min-daily-temp {
  padding-left: 10px;
  padding-right: 15px;
}

.wind {
  padding-left: 10px;
}

.top-icons {
  font-family: 'open-sans', sans-serif;
}

.map-section {
  background-color: green;
  height: 23.5vh;
  margin: 1vh;
  position: relative;
}
/* Min Temp and Wind Icons Ends */

.current-temp {
  font-family: 'open-sans', sans-serif;
  font-size: 70px;
  float: right;
  padding-right: 20px;
  color: #444444;
}

.map {
height: 20vh;
background-color: #8beecc;
}

.map-title,
.expand  {
position: absolute;
background-color: white;
height: 3.5vh;
display: inline-block;
}

.map-title {
bottom: 0;
left: 0;
width: 80%;
}

.expand {
width: 20%;
bottom: 0;
right: 0;
}

.favourite-section {
  background-color: green;
  height: 24vh;
  margin: 1vh;
}

.footer-section {
  background-color: purple;
  height: 120px;
}

/* Extra small devices (phones, 600px and down) */
/* This applies css to */
@media only screen and (max-width: 600px) {
  .daily-section {
    background-color: #87ceeb;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .daily-section {
    background-color: blue;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
